.hidden{
	display: none !important;
}
.sec-padding{
padding: 5rem 0;

}
.section-title{
	padding: 0 0.9375rem;
	width: 100%;
	text-align: center;
	margin-bottom: 2.5rem;
	h2{
		font-size: 2.5rem;
		text-transform: capitalize;
	}
}

.about-img{
width: 40%;
padding: 0 0.9375rem;
.img-box{
	background-color: $whiteAlpha25;
	max-width: 23.75rem;
	border: 1px solid $whiteAlpha40;
	margin: auto;
	border-radius: 0.625rem;
	img{
		width: 100%;
	}
}
}
.about-text{
width: 60%;
padding: 0 0.9375rem;
h3{
	font-size: 1.25rem;
	margin: 1.25rem 0;
	text-transform: capitalize;
}
.skills{
	display: flex;
	flex-wrap: wrap;
}
.skill-item{
	background-color: $whiteAlpha25;
	border: 1px solid $whiteAlpha40;
	padding: 0.3125rem 0.9375rem;
	text-transform: capitalize;
	margin: 0 0.625rem 0.625rem 0;
	border-radius: 1.25rem;
}
.about-tabs{
	margin-top: 1.25rem;
	
	.tab-item{
		padding: 0.125rem 0;
		background-color: transparent;
		border: none;
		text-transform: capitalize;
		display: inline-block;
		color: $blueDark;
		font-size: 1.25rem;
		cursor: pointer;
		font-weight: 500;
		margin: 0 1.875rem 0 0;
		position: relative;
		opacity: 0.5;
		transition: all 0.3s ease;
		&:last-child{
			margin: 0;
		}
		&::before{
			content: '';
			position: absolute;
			left: 0;
			bottom: 0;
			width: 0%;
			height: 1px;
			background-color: $blueDark;
			transition: width 0.3s ease;
		}
		&:hover{
			&::before{
				width: 100%;
			}
		}
		&.active{
			color: $mainColor;
			opacity: 1;
			cursor: auto;
			&::before{
				width: 100%;
				background-color: $mainColor;
			}
		}
	}
}
}

button{
	font-family: inherit;
	user-select: none;
}


.about-text{
	.tab-content{
		padding: 2.5rem 0;
		display: none;
		&.active{
			display: block;
		}
	}
	.timeline-item{
		margin-bottom: 1.875rem;
		position: relative;
		padding: 0.625rem 0 0 2.5rem;
		&:last-child{
			margin-bottom:0;
		}
		&::before{
			content: '';
			position: absolute;
			height: 0.6875rem;
			width: 0.6875rem;
			background-color: $mainColor;
			left: 0;
			top: 1rem;
			border-radius: 50%;
		}
		.date{
			display: block;
			color: $mainColor;
			font-weight: 400;
			margin: 0 0 0.625rem;
		}
		h4{
			font-size: 1.125rem;
			text-transform: capitalize;
			margin: 0 0 0.625rem;
			span{
				font-weight: 400;
			}
		}
	}
	.timeline{
		position: relative;
		&::before{
			content: '';
			position: absolute;
			height: 100%;
			width: 0.0625rem;
			top: 0;
			left: 0.3125rem;
			background-color: $mainColor;
		}
	}
	.butn{
		margin: 0 0.9375rem 0.9375rem 0;
	}
}

